#codecorpdemo .demo-card, #codecorpdemo .card .barcode {
  display:flex;
  position: relative;
  border: 1px solid rgba(217, 217, 217, 1);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  transition: all  ease-in-out 0.25s;
  border-radius: 0.5rem;
  min-height:25rem;
  background-color:white;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  }
}

#codecorpdemo .demo-card-heading {
  color: var(--text-color);
  font-size: 1.75rem;
  font-weight: bold;

  h2[class*="h2"], .h2, h2 {
    @media screen and (min-width:$screen-xs){
      font-size:1.25rem!important;
    }
    @media screen and (min-width:$screen-sm){
      font-size:1.2rem!important;
    }
    @media screen and (min-width:$screen-lg){}
    @media screen and (min-width:$screen-xl){}
  }
  .p,p {
    @media screen and (min-width:$screen-xs){font-size: 1rem;  line-height: 1.1;}
    @media screen and (min-width:$screen-sm){font-size: 1rem;  line-height: 1.1;}
    @media screen and (min-width:$screen-lg){}
    @media screen and (min-width:$screen-xl){}
  }


}

#codecorpdemo .demo-card-requirements {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  &.p-sm {
    font-size: 0.9375rem;
    line-height: 1.66;
  }

  span.color-primary {
    color: var(--color-primary);
  }

  h2[class*="h2"], .h2, h2 {
    @media screen and (min-width:$screen-xs){
      font-size:1.25rem!important;
    }
    @media screen and (min-width:$screen-sm){
      font-size:1.2rem!important;
    }
    @media screen and (min-width:$screen-lg){}
    @media screen and (min-width:$screen-xl){}
  }
  .p,p {
    @media screen and (min-width:$screen-xs){font-size: 1rem;  line-height: 1.1;}
    @media screen and (min-width:$screen-sm){font-size: 1rem;  line-height: 1.1;}
    @media screen and (min-width:$screen-lg){}
    @media screen and (min-width:$screen-xl){}
  }

}

#codecorpdemo .demo-card-description {
  font-size: 1.15rem;

  h2[class*="h2"], .h2, h2 {
    @media screen and (min-width:$screen-xs){
      font-size:1.25rem!important;
    }
    @media screen and (min-width:$screen-sm){
      font-size:1.2rem!important;
    }
    @media screen and (min-width:$screen-lg){}
    @media screen and (min-width:$screen-xl){}
  }
  .p,p {
    @media screen and (min-width:$screen-xs){font-size: 1rem;  line-height: 1.1;}
    @media screen and (min-width:$screen-sm){font-size: 1rem;  line-height: 1.1;}
    @media screen and (min-width:$screen-lg){}
    @media screen and (min-width:$screen-xl){}
  }

}

#codecorpdemo .demo-card-icon {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
}