#codecorpdemo .demos {
    display: grid;
    grid-gap: 1.125rem;
    margin-bottom: 3.75rem;
    @media (min-width: 48rem) {
        grid-template-columns: 1fr 1fr;
    }
    * {
        box-sizing: border-box;
    }
}