#codecorpdemo {
    .btn-primary,
    .btn-secondary {
        padding: 0.8125rem 1.5rem;
        font-family: var(--roboto-condensed);
        font-size: 1.125rem;
        font-weight: 700;
        border-radius: 0.3125rem;
        border-width: 0.25rem;
        border-style: solid;
        cursor: pointer;
        transition: all ease-in-out 0.15s;
    }

    .btn-primary {
        color: #fff;
        background-color: var(--color-primary) !important;
        border-color: var(--color-primary) !important;
    }

    .btn-secondary {
        background-color: transparent !important;
        color: #000 !important;
        border-color: var(--btn-border-color) !important;
    }
}
