#codecorpdemo .card {

  display: block;
  padding: 1.25rem;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  border: 1px solid rgba(217, 217, 217, 0.8);

  .regenerateButton {
    display:block;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
  @media (min-width: 64rem) {
    padding: 1.25rem;
  }

  * {
    color: var(--text-color);
    line-height: 1.4;
  }

  img {
    max-width: 100%;
  }

  .demo-identifier{
    color:#ae2025!important;
    font-size: 1.75rem;
    margin-bottom:0.75rem;
    font-weight: bold;
    border-bottom:solid 1px rgba(0, 0, 0, 0.09);
  }

  [class*="demo-identifier"]{
    color:#ae2025!important;
    font-size: 1.75rem;
    margin-bottom:0.75rem;
    font-weight: bold;
    border-bottom:solid 1px rgba(0, 0, 0, 0.09);
  }

}

#codecorpdemo .align-center .card {
  display: flex;
  align-items: center;
  padding: 1.25rem;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  border: 1px solid rgba(217, 217, 217, 0.8);

  .regenerateButton {
    display:block;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
  @media (min-width: 64rem) {
    padding: 1.25rem;
  }

  * {
    color: var(--text-color);
    line-height: 1.4;
  }

  img {
    max-width: 100%;
  }

  .demo-identifier{
    color:#ae2025!important;
    font-size: 1.75rem;
    margin-bottom:0.75rem;
    font-weight: bold;
    border-bottom:solid 1px rgba(0, 0, 0, 0.09);
  }

  [class*="demo-identifier"]{
    color:#ae2025!important;
    font-size: 1.75rem;
    margin-bottom:0.75rem;
    font-weight: bold;
    border-bottom:solid 1px rgba(0, 0, 0, 0.09);
  }
}