#codecorpdemo [class*='grid-'] {
  display: grid;
  grid-gap: 1.125rem;
}

#codecorpdemo .grid-2 {
  @media (min-width: 48rem) {
    grid-template-columns: 1fr 1fr;
  }
}

#codecorpdemo .grid-3 {
  @media (min-width: 48rem) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
