#codecorpdemo {
    h1,.h1,
    h1.text-8,
    h1.h2,
    h1.h2-text,
    h1.h2,
    [class*="h1"],
    [class*="h1-text"]
    {
    color: var(--color-primary);
    font-family: var(--archivo-black);
    font-size: 1.875rem; // 30px
    line-height: 1.0675;
    @media screen and (min-width:$screen-xs){
        font-size: 1.5rem!important;
        line-height: 1.5;
    }
    @media screen and (min-width:$screen-sm){
        font-size: 1.5rem!important;
        line-height: 1.5;
    }
    }

    h2,
    .h2,
    h2.text-6,
    h2.h1,
    h2.h1-text,
    [class*="h2"],
    [class*="h2-text"]{
    line-height: 1.1;
    font-family: var(--roboto-condensed);
    font-size: 1.5625rem; // 25px
    @media screen and (min-width:$screen-xs){
        font-size: 1.5rem!important;
    }
    @media screen and (min-width:$screen-sm){
        font-size: 1.5rem!important;
        line-height: 1.5;
    }
    }

    h3,
    .h3 {
    color: var(--color-primary);
    font-family: var(--roboto-condensed);
    font-size: 1.625rem;
    @media screen and (min-width:$screen-xs){
        font-size: 1rem!important;
        line-height: 1.1;
    }
    @media screen and (min-width:$screen-sm){
        font-size: 1.5rem!important;
        line-height: 1.25;
    }
    }

    h4,
    .h4 {
    color: var(--text-color);
    font-family: var(--roboto-condensed);
    font-size: 1.25rem; // 20px
    @media screen and (min-width:$screen-xs){
        font-size: 1rem!important;
        line-height: 1.1;
    }
    @media screen and (min-width:$screen-sm){
        font-size: 1.2rem!important;
        line-height: 1.25;
    }
    }

    h5,
    .h5 {
    font-family: var(--roboto-condensed);
    font-size: 1.25rem;
    font-weight: 400;
    }

    .text-10, h2.text-10 {
        @media screen and (max-width:$screen-xs){
            font-size: 2.75rem !important;
        }
        @media screen and (max-width:$screen-sm){
            font-size: 2.75rem !important;
        }
    }

}

.page-headline {
    color: var(--color-primary);
    font-family: var(--archivo-black);
    font-size: 1.875rem;
    line-height: 1.8675;
    @media screen and (min-width:$screen-xs){
      font-size: 1.6rem!important;
      line-height: 1.6;
    }
    @media screen and (min-width:$screen-sm){
      font-size: 1.4rem!important;
      line-height: 1.4;
    }
}

.mobile-center {
    @media screen and (max-width:$screen-xs){
        text-align: center !important;
    }
    @media screen and (max-width:$screen-sm){
        text-align: center !important;
    }
}

.mobile-justify {
    @media screen and (max-width:$screen-xs){
        text-align: justify !important;
        text-justify: inter-word !important;
    }
    @media screen and (max-width:$screen-sm){
        text-align: justify !important;
        text-justify: inter-word !important;
    }
}



.text-10, h2.text-10,  h1.text-10  {
    @media screen and (min-width:$screen-xs){
        font-size: 2.25rem !important;
    }
    @media screen and (min-width:$screen-sm){
        font-size: 2.5rem !important;
    }
}
