#codecorpdemo {
.p,
p {
  color: var(--text-color);
  font-family: var(--roboto-condensed);
  font-size: 1.25rem;
  line-height: 1.4;
}

.p-outtro {
  font-size: 1.5rem;
  line-height:1.6;

  &:last-of-type {
    margin-bottom: 5.625rem;
  }
}
}
