:root {
  --color-primary:  #AD1F25;
  --color-secondary:  #444;
  --color-alert:  #386ED5;
  --anchor-color:  var(--color-alert);
  --border-color:  #707070;
  --text-color: #444;
  --box-shadow: rgba(100, 100, 111, 0.4) 2px 7px 7px 0px;
  --btn-border-color:  var(--color-secondary);
  --archivo-black:  'Archivo Black', sans-serif;
  --roboto-condensed:  'Roboto Condensed', sans-serif;
}

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$screen-xs: 400px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1200px;
$screen-xl: 1600px;
