.websdk-app .modal-overlay {
    display: none;
}

.websdk-app .modal-overlay.active {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: baseline;
    justify-content: center;
    height: 100%;
    overflow-y: scroll;
    @supports (backdrop-filter: blur()) {
        backdrop-filter: blur(1.5rem);
    }
    @supports not (backdrop-filter: blur()) {
        background-color: #ffffffeb;
    }
}

.websdk-app .modal {
    position: relative;
    box-shadow: 0 0 0.375rem #00000050;
    top: 25%;
    right: 50%;
    display: inline-block;
    outline: none;
    overflow: hidden;
    padding: 2rem;
    margin: 3%;
    border-radius: 0.5rem;
    height: auto;
    background-color: #fff;
    max-width: 60rem;
    @media (min-width: 48rem) {
        top: 25%;
        right: 50%;
        padding: 0.5rem;
    }
}

.websdk-app .modal-footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 0.625rem;
    @media (min-width: 48rem) {
        flex-direction: row;
        justify-content: center;
    }
}

.websdk-app .modal-close-btn {
    position: absolute;
    top: 1.875rem;
    right: 1.875rem;
    height: 1.5rem;
    width: 1.5rem;
    border-width: 0;
    background: url('./images/icon-x.svg') center center/cover no-repeat;
    cursor: pointer;
    transition: all ease-in-out 0.15s;
    &:hover {
        opacity: 0.5;
    }
}