.websdk-app .barcodes {
    margin-top: .75rem;
    margin-bottom: .75rem;
    max-width: 100%;
}

.websdk-app .barcode {
    display: flex;
    align-items: center;
    min-height: 23.25rem;
    justify-content: center;
    background: url('Iphone-spinner-2.gif') center center no-repeat;
    background-size: 1.5rem 1.5rem;
    cursor: pointer;
    &.toggled .barcode-img {
        display: none;
        background: white;
    }
    &.toggled .barcode-info {
        opacity: 1;
        visibility: visible;
        transition: all ease-in-out 0.25s;
        transition-delay: 0.25s;
    }
}

.websdk-app .barcode-img,
.websdk-app .barcode-info {
    position: absolute;
    opacity: 1;

}

.websdk-app .barcode-img {
    transform: scale(.8);
}

.websdk-app .barcode-info {
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    padding: 2rem;
}

.websdk-app img[class*="datamatrix"]{
    image-rendering: pixelated;
    transform: scale(2.5);
}

.websdk-app img[class*="qrcode"]{
    image-rendering: pixelated;
    transform: scale(2);
}

.websdk-app img[class*="azteccode"] {
    image-rendering: pixelated;
    transform: scale(2);
}